{% extends "layout.jinja2" %}
{% block content %}
{% for entry in journals %}
</hr>
<h2>{{ title }}</h2>
<p>{{ creation_date }}</p>
<p>{{ body }}</p>
<a href="journal/{{ id }}"><button>Detail</button></a>
</hr>
{% endfor %}
{% endblock %}